html {
	min-width: 600px;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	min-width: 600px;
}

#header {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#logo {
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
}

#logo .f {
	color: #0081ff;
}

#logo .q {
	color: orange;
}

#main {
	display: block;
	margin: 0 auto;
	max-width: 1366px;
	text-align: initial;
}

.heading {
	display: block;
	padding: 2px;
	padding-left: 4px;
	font-size: 2em;
	font-weight: bold;
	background-color: #309d2d;
}

.box-outer {
	display: flex;
	flex-direction: column;
}

.box-up {
	display: flex;
}

.box-left {
	flex-shrink: 0;
	min-width: 24px;
	margin-right: 24px;
	border-right: 2px ridge orange;
}

.box-content {
	flex: 1;
}

.box-down .ext {
	display: inline-block;
	border-right: 2px ridge orange;
}

.box-down {
	display: flex;
	width: 100%;
	border-top: 2px ridge #a200a0;
}

.box-down .infoline {
	flex: 1;
	text-align: right;
}

.sidetext-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.sidetext-font {
	font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	writing-mode: tb-lr; /* fallback for vertical-lr (IE11-) */
	writing-mode: vertical-lr;
	width: 1em;
	color: orange;
}

.sidetext-layout {
	display: inline-block;
	flex: 0 auto;
	transform: rotate(180deg);
	padding-top: 8px;
}

.square {
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}

.fstree {
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	display: inline-block;
	text-align: left; /* fallback for initial (!CSS3, IE11-) */
	text-align: initial;
	font-size: 1.3em;
}

.fsnode {
	display: flex;
	white-space: nowrap;
}

.fsnode .fsnode-indent {
	display: inline-block;
	vertical-align: top;
}

.fsnode .fsnode-node {
	display: inline-block;
	position: relative;
	height: 100%;
}

.fsnode .fsnode-node.fsnode-vert:before {
	content: "";
	display: block;
	height: 100%;
	border-left: 1px solid white;
	position: absolute;
	left: 45%;
}

.fsnode a {
	white-space: normal;
}

a {
	text-decoration: none;
}

a.extlink {
	background: url(extlink.png) center right / 12px 12px no-repeat;
	padding-right: 16px;
}

a.intlink:after {
	content: "\2192";
	color: lightgrey;
	padding-left: 2px;
}

a:visited {
	color: fuchsia;
}

a:link {
	color: aqua;
}
