html {
	min-width: 600px;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	min-width: 600px;
}

#header {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#logo {
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
}

#logo .f {
	color: #0081ff;
}

#logo .q {
	color: orange;
}

#main {
	display: block;
	margin: 0 auto;
	max-width: 1366px;
	text-align: initial;
}

.heading {
	display: block;
	padding: 2px;
	padding-left: 4px;
	font-size: 2em;
	font-weight: bold;
	background-color: #309d2d;
}

#box-outer {
	display: flex;
	flex-direction: column;
}

#box-up {
	display: flex;
}

#box-left {
	flex-shrink: 0;
	min-width: 24px;
	margin-right: 24px;
	border-right: 2px ridge orange;
}

#box-down #ext {
	border-right: 2px ridge orange;
}

#box-down {
	display: flex;
	width: 100%;
	border-top: 2px ridge #a200a0;
}

#box-down #infoline {
	flex: 1;
	text-align: right;
}

.sidetext-wrapper {
	height: 100%;
	display: flex;
}

.sidetext-font {
	font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	writing-mode: vertical-lr;
	width: 1em;
	color: orange;
}

.sidetext-layout {
	display: inline-block;
	align-self: flex-end;
	transform: rotate(180deg);
	padding-top: 8px;
}

.square {
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}

#bodytext {
	display: block;
	font-size: 1.1em;
}

.fstree {
	font-family: "DejaVu Sans Mono", "Consolas", monospace;
	display: inline-block;
	text-align: initial;
	font-size: 1.3em;
}

a {
	text-decoration: none;
}

a:visited {
	color: fuchsia;
}

a:link {
	color: aqua;
}
