<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<meta charset="utf-8" />
	<!--
		Have to do this Javascript horseshit because:
			- "width=[constant], initial-scale=1.0" still makes the
			  page load zoomed in to the device viewport.
			- Without initial-scale=1.0, it loads with everything
			  visible but the viewport will not expand if the
			  device viewport is wider, leading to awful scaling.
			- width=device-width can cause the page to be
			  permanently zoomed in, disregarding content wider
			  than the zoom allows.
			- Finally, if we try to escape the <meta name="viewport">
			  idiocy by just leaving it out, then mobile Chrome will
			  "boost" the font size and make everything look like
			  shit while flagging the page as "not mobile-friendly".

		So we need to use Javascript to give the viewport a set width
		while still scaling to larger device widths, without the
		browser doing zoom nonsense. As a fallback, we'll do the first
		thing I mentioned with initial-scale=1.0 and live with the zoom.
	-->
	<noscript>
		<meta name="viewport" content="width=616, initial-scale=1.0">
	</noscript>
	<script>
		function vp() {
			var MIN_WIDTH = 616;

			var viewport = document.querySelector("meta[name=viewport]");

			if (viewport)
				document.head.removeChild(viewport);

			viewport = document.createElement("meta");
			var content = "width=";

			viewport.setAttribute("name", "viewport");

			if (screen.width > MIN_WIDTH)
				content += screen.width;
			else
				content += MIN_WIDTH;

			viewport.setAttribute("content", content);
			document.head.appendChild(viewport);
		}

		vp();
		window.addEventListener('load', vp, false);
		window.addEventListener('resize', vp, false);
		window.addEventListener('orientationchange', vp, false);
		window.addEventListener('deviceorientation', vp, false);
		window.addEventListener('MozOrientation', vp, false);
	</script>
	<link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
{#
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
	{% endif %}
	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
	{% endif %}
	{% if FEED_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}
	{% if FEED_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	{% if CATEGORY_FEED_ATOM and category %}
	<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
	{% endif %}
	{% if CATEGORY_FEED_RSS and category %}
	<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
	{% endif %}
	{% if TAG_FEED_ATOM and tag %}
	<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
	{% endif %}
	{% if TAG_FEED_RSS and tag %}
	<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
	{% endif %}
#}
	{% block head_end %}
	{% endblock head_end %}
</head>

<body>
{#
	<header id="banner" class="body">
		<h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
	</header><!-- /#banner -->
	<nav id="menu"><ul>
	{% for title, link in MENUITEMS %}
	    <li><a href="{{ link }}">{{ title }}</a></li>
	{% endfor %}
	{% if DISPLAY_PAGES_ON_MENU %}
	  {% for p in pages %}
	    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
	  {% endfor %}
	{% else %}
	  {% if DISPLAY_CATEGORIES_ON_MENU %}
	    {% for cat, null in categories %}
	      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	    {% endfor %}
	  {% endif %}
	{% endif %}
	</ul></nav><!-- /#menu -->
#}
	<div id="header">
		<a href="{{ SITEURL }}/"><div id="logo">
                                                <span class="q">  ____              _        </span><br>
<span class="f">     ______           __ </span><span class="q"> / __ \            | |       </span><br>
<span class="f">   ~/ ____/___ ______/ /_</span><span class="q">| |  | |_   _  __ _| | _____ </span><br>
<span class="f">  ~/ /_  / __ `/ ___/ __/</span><span class="q">| |  | | | | |/ _` | |/ / _ \</span><br>
<span class="f"> ~/ __/ / /_/ (__  ) /_  </span><span class="q">| |__| | |_| | (_| |   &lt;  __/</span><br>
<span class="f">~/_/    \__,_/____/\__/  </span><span class="q"> \___\_\\__,_|\__,_|_|\_\___|</span><br>
		</div></a><br>
		<br>
	{% if Base_Display_Tree|default(true) %}
		<div class="fstree">
{{ node.render_tree_ancestors(descendants=Base_Tree_Descendants|default(-1)) }}
		</div>
	{% endif %}
	</div>
	<div id="main">
		{% block content %}
		{% endblock %}
	</div>
{#
	<footer id="contentinfo" class="body">
		<address id="about" class="vcard body">
		Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
		which takes great advantage of <a href="http://python.org">Python</a>.
		</address><!-- /#about -->
	</footer><!-- /#contentinfo -->
#}
</body>
</html>
