{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
	<h1 class="heading">{{ page.title }}</h1>
	{% import 'translations.html' as translations with context %}
	{{ translations.translations_for(page) }}
	<div id="box-outer">
		<div id="box-up">
			<div id="box-left">
				<div class="sidetext-wrapper">
					<span class="sidetext-font sidetext-layout">{{page.title}}</span>
				</div>
			</div>
			<div id="bodytext">
				{{ page.content }}
			</div>
		</div>
		<div id="box-down">
			<div id="ext"><div class="square"><span class="sidetext-font"></span></div></div>
			<div id="infoline">
				{% if page.modified %}
					Last updated: {{ page.locale_modified }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
