{% extends "base.html" %}
{% from "box.html" import box %}
{% block head_end %}
	<style type="text/css">
	 #page-box .box-content {
	     font-size: 1.1em;
	 }
	</style>
{% endblock %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
	{% import 'translations.html' as translations with context %}
	{{ translations.translations_for(page) }}
	{% if page.modified %}
		{% set infoline = "Last modified: "+page.locale_modified %}
	{% endif %}
	{{ box(page.title, page.content, infoline, "page-box") }}
{% endblock %}
